// --------------GENERAL STYLE START
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
::selection{
  color:#fff;
  background-color:#000;
}

// ---------------------NAVBAR STYLE START----------
nav{
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  background: #E5E5E5;
  .moible-nav-menu{
    display:flex;
    padding-top: 140px;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 89vh;
    position: absolute;
    left: -100%;
    top: 80px;
    transition: all .6s linear;
    z-index: 999;
    opacity: 1;
    background-color:black;
    .nav-item{
      list-style: none;
      .mobile-sign-in{
        display:block;
        .mobile-sign-link{
          text-decoration: none;
          color:#000;
          font-size: 20px;
        }
      }
      .nav-link{
        color: #fff;
        font-size: 22px;
      }
      
    }
  }
  .mobile-nav-menu.active{
    display:flex;
    padding-top: 140px;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 89vh;
    position: absolute;
    left: -0;
    top: 80px;
    transition: all .6s linear;
    opacity: 1;
    background-color:black;
    z-index: 999;
    .nav-item{
      list-style: none;
      .nav-link{
        color: #fff;
        font-size: 22px;
      }
      .mobile-sign-in{
        display:block;
        .mobile-sign-link{
          text-decoration: none;
          color:#000;
          font-size: 20px;
        }
      }
    }
  }
  .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .navbar-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:992px){
      justify-content: flex-end;
    }
    @media(max-width:768px){
      width: 50%;
    }
    .nav-menu{
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px!important;
    @media(max-width:992px){
      display:none;
    }
    .nav-item{
      list-style: none;
      .nav-link{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #000000;
      }
    }
  }
      .menu-icon{
        display: flex;
        align-items:center;
        .btn-shop{
          font-size: 22px;
          &:focus{
            box-shadow: none;
          }
          .badge{
            font-size: 12px;
            margin-top: 6px;
          }
        }
        .burger{
          display: none;
          @media(max-width:992px){
            display: block;
            font-size: 22px;
            margin:0px 10px;
            &:focus{
              box-shadow: none;
            }
          }
        }
        .sign-in{
          @media(max-width:992px){
            display: none;
          }
          .sign-link{
            color: #000;
            text-decoration: none;
          }
        }
      }
}

}

// ---------------------BANNER STYLE START--------------
main{
  width: 100%;
  .slick-next{
    right: 50px!important;
    @media(max-width:768px){
      right: 30px!important;
    }
    @media(max-width:576px){
    display: none!important;
    }
  }
  .slick-prev{
    left:50px!important;
    z-index: 222;
    @media(max-width:768px){
      left: 30px!important;
    }
    @media(max-width:576px){
      display: none!important;
      }
  }
  .slick-dots{
    bottom: 10px!important;
    
  }
  .banner-content{
    width: 100%;
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    h1{
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 60px;
      color: #FFFFFF;
      text-align: center;
      padding: 80px 0px 22px 0px;
    }
    p{
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;        
      color: #FFFFFF;
      text-align: center;
      padding-bottom: 394px;
      margin-bottom: 0px!important;
    }
  }
}
// --------------PRODUCT STYLE START---------------
.card{
  background-color:red;
  margin: 20px 0px;
  border: 1px solid rgba(225, 225, 225, 0.6);
  border-radius: 20px;
  transition: all .3s linear;
  --webkit-transition: all .3s linear;
  --moz-transition: all .3s linear;
  --o-transition: all .3s linear;
  @media(max-width:992px){
    h3{
      font-size: 23px;
    }
  }
  @media(max-width:410px){
    .content-card{
      width: 100%!important;
    }
  }
  .card-header{
    border: none;
      background-color:#fff;
    .content-card{
      width: 60%;
      height: 260px;
      margin: 0 auto;
      overflow: hidden;
      @media(max-width:992px){
        width: 70%;
      }
    
      img{
        width: 100%;
        height: 100%;
        transition: all .3s linear;
      }
    }
  }
  .add{
    margin:10px 0px;
    background-color:transparent;
    border: 1px solid #000;
    color:#000;
    font-weight: 700;
  }
}
.card:hover{
  background: #FFFFFF;
  box-shadow: 0px 20px 150px rgba(193, 193, 193, 0.32);
}
.card:hover .content-card{
  img{
    transform: scale(1.1);
  }
}

// ---------------BASKET STYLE START-------------
.basket{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  .basket1{
    @media(max-width:768px){
      width: 100%;
      justify-content: space-between;
    }
  }
  .basket2{
    margin: 20px 0px;
    @media(max-width:768px){
      width: 100%;
        justify-content: flex-end;
      .total{
        margin: 0px!important;
      }
    }
  }
  .add-product{
    background-color:#fff!important;
    border: 1px solid #000;
    color:#000!important;
    font-weight: 700;
    transition: all .3s linear;
    --webkit-transition: all .3s linear;
    --moz-transition: all .3s linear;
    --o-transition: all .3s linear;
    &:hover{
      background-color:#000!important;
      color:#ffff!important;
    }
  }
  .remove-product{
    background-color:#fff!important;
    border: 1px solid #000!important;
    color:#000!important;
    font-weight: 700;
    transition: all .3s linear;
    --webkit-transition: all .3s linear;
    --moz-transition: all .3s linear;
    --o-transition: all .3s linear;
    &:hover{
      background-color:#000!important;
      color:#ffff!important;
    }
  }
}

//-------------- SHOPPING STYLE START------------
.product-title,
.title{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 55px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 35px 0px;
  text-transform: uppercase;
  margin-bottom: 0px!important;

}
// -----------TOPPRODUCTS STYLE START---------------
.top__products{
  h1{
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
    letter-spacing: -0.02em;
    color: #000000;
    padding: 60px 0px 40px 0px;
    text-transform: uppercase;
  }
}
// -------------TOPSHOPPING STYLE START-------------

.for__hover{
  transition: all .3s linear;
  --webkit-transition: all .3s linear;
  --moz-transition: all .3s linear;
  --o-transition: all .3s linear;
  background-color:#fff;
  .for__scale{
    overflow: hidden;
    img{
      transition: all .3s linear;
      --webkit-transition: all .3s linear;
      --moz-transition: all .3s linear;
      --o-transition: all .3s linear;
    }
  }
  &:hover{
    box-shadow: 0px 20px 150px rgba(193, 193, 193, 0.32);
    .for__scale{
    
      img{
        transform: scale(1.1);
      }
    }
  }
  
  .btn-read{
    background-color:#fff!important;
    border: 1px solid #000!important;
    color:#000!important;
    font-weight: 700;
    transition: all 0.3s linear;
    margin: 20px 0px 50px 0px!important;
    &:hover{
      background-color:#000!important;
      color:#fff!important;
    }
    &:focus{
      box-shadow:none!important;
    }
  }
}

// --------------------NAVS STYLE START -----------------
.for__reverse{
  @media(max-width:768px){
    flex-direction: column-reverse;
  }
  .nav{
    flex-direction: column;
    .nav-item{
      width: 100%;
      padding: 5px 0px!important;
      margin: 10px 0px;
      transition: all .3s linear;
      --moz-transition: all .3s linear;
      --o-transition: all .3s linear;
      --webkit-transition: all .3s linear;
      cursor: pointer;
      @media(max-width:992px){
        padding: 5px 0px!important;
      }
      @media(max-width:576px){
        margin-top: 10px;
      }
      &:hover{
        background: #FFFFFF;
        box-shadow: 0px 20px 150px rgba(193, 193, 193, 0.32);
      }
      .nav-link{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 29px;
        color: #000000;
        &:hover{
          border: 0!important;
        }
      }
      
    }
  }
  .nav-tabs{
    border: none!important;
  }
  .navs-left{
    height: 430px!important;
    margin-bottom: 10px;
    @media(max-width:576px){
      height: 370px!important;
    }
    img{
      width: 100%;
      height: 100%!important;
    }
  }
  
}
// ------------------TV STYLE START-------------
.tv{
  width: 100%;
  .tv-content{
    width: 100%;
    background-image: url("../img/tv.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
      padding: 400px 0px 100px 0px;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 54px;
      color: #FFFFFF;
    }
  }
  .slick-next{
    display:none!important;
  }
  .slick-prev{
    display:none!important;
  }
  .slick-dots{
    bottom: 20px!important;
    li{
      button{
        width: 20px;
        height: 3px;
        background: #FFFFFF;
        border-radius: 12px;
        &:before{
          content:""!important;
        }
      }
    }
  }
}
// ---------------FOOTER STYLE START --------------
.footer{
  width: 100%;
  .desktop-footer{
    @media(max-width:576px){
      display:none;
    }
  }
  .mobile-footer{
    display: none;
    @media(max-width:576px){
      display:block;
    }
    .social-mobile-media{
      color:#000000;
      font-size:18px;
      display:block;
      margin: 0px 20px 0px 0px;
      transition: all .3s linear;
      --webkit-transition: all .3s linear;
      -moz-ransition: all .3s linear;
      -o-transition: all .3s linear;
      &:hover{
        transform: translateY(-5px);
        
      }
    }
  }
  h4{
    padding: 70px 0px 20px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
  }
  .number{
    padding: 70px 0px 0px 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    display: block;
    text-decoration: none;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
  }
  .adres{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 27px;
  }
  .social{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
    .social-media{
      color:#000000;
      font-size:18px;
      display:block;
      margin: 0px 20px 0px 0px;
      transition: all .3s linear;
      --webkit-transition: all .3s linear;
      -moz-ransition: all .3s linear;
      -o-transition: all .3s linear;
      &:hover{
        transform: translateY(-5px);
        
      }
    }
  }
  h5{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }
  .nav{
    display: block!important;
    .nav-link{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #000000;
      opacity: 0.5;
      display: block!important;
    }
  }
  .mobile-col{
    border: 1px solid #f8f9fa;
  .plus-btn{
    background-color:transparent!important;
    &:focus{
      box-shadow:none;
    }
  }
  .card{
    margin: 10px 0px!important;
    border: none!important;
  }
  }
}